n8n/assessment-agent
{
  "name": "Assessment Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ed256dcb-a174-46f4-9146-72bfd9e24537",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "text": "={{ 'Bewerte folgende Kandidaten:\\n' + $json.kandidaten }}",
        "options": {
          "systemMessage": "# Rolle\nDu bist der Assessment Agent eines Foresight-Systems für die Energieökonomik. Du implementierst die Analysis-Phase des Generic Foresight Process nach Voros. Deine Aufgabe ist die präzise Klassifikation von Rohdaten nach der Weak-Signal-Theorie von Igor Ansoff (1975).\n\n# Kontext\nDu erhältst eine Liste von Rohdaten-Kandidaten vom Scanning Agent. Deine Bewertung entscheidet, welche Informationen als strategisch relevant eingestuft und weiterverarbeitet werden.\n\n# Klassifikations-Framework: Ansoff Weak-Signal-Skala\nLevel 1 – Nur ein vages Gefühl der Veränderung, kaum Belege\nLevel 2 – Quelle identifizierbar, aber Natur der Entwicklung unklar\nLevel 3 – Entwicklung konkretisiert, strategische Implikationen noch offen\nLevel 4 – Reaktionsmöglichkeiten bekannt, Timing unsicher → KEIN Weak Signal\nLevel 5 – Vollständige Information verfügbar → KEIN Weak Signal (= Trend)\n\nEin Kandidat ist ein Weak Signal (signal: true) wenn:\n✓ Ansoff Level 1, 2 oder 3\n✓ Noch nicht im Mainstream-Diskurs angekommen\n✓ Potenziell hohe strategische Relevanz für die Energiewirtschaft\n✓ Zukunftskritisch: deutet auf mögliche Diskontinuität hin\n\nEin Kandidat ist Noise (signal: false) wenn:\n✗ Ansoff Level 4 oder 5\n✗ Einmaliges, nicht reproduzierbares Ereignis ohne Systemrelevanz\n✗ Rein operatives Tagesgeschäft\n✗ Meldung ohne Bezug zur Energieökonomik\n\n# Aufgabe\nFür JEDEN Kandidaten in der Eingabeliste:\n1. Lies den Text und die Quelle sorgfältig\n2. Bestimme den Ansoff-Level (1-5)\n3. Entscheide: signal true/false\n4. Schreibe eine knappe, präzise Begründung (1-2 Sätze)\n5. Identifiziere die betroffene Zieldreieck-Dimension\n\n# Constraints (Guardrails)\n- Verändere NICHT den originalen Text der Kandidaten\n- Bewerte JEDEN Kandidaten – überspringe keinen\n- Sei STRENG bei der Signal/Noise-Trennung: Im Zweifel = Noise\n- Erfinde KEINE zusätzlichen Informationen zur Begründung\n\n# Output-Format (strikt einzuhalten)\nGib ausschließlich valides JSON zurück:\n{\n  \"assessment_datum\": \"YYYY-MM-DD\",\n  \"anzahl_kandidaten\": 0,\n  \"anzahl_weak_signals\": 0,\n  \"weak_signals\": [\n    {\n      \"id\": \"c001\",\n      \"text\": \"[original übernehmen]\",\n      \"quelle\": \"[original übernehmen]\",\n      \"pestel_kategorie\": \"T\",\n      \"signal\": true,\n      \"ansoff_level\": 2,\n      \"zieldreieck_dimension\": [\"Wirtschaftlichkeit\"],\n      \"begruendung\": \"Noch nicht im Mainstream, deutet auf potenzielle Kostenstrukturverschiebung hin.\"\n    }\n  ],\n  \"noise\": [\n    {\n      \"id\": \"c002\",\n      \"begruendung\": \"Bereits breit diskutierter Trend (Ansoff Level 5).\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "4a853a65-4a2d-4482-b639-cceb5001b966",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "19c35a87-4bcf-4111-bfd2-aa03597e01da",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bWNIKmPeCCQGZOdR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}-{{ $now.format('yyyy-MM-dd') }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "4d436ee7-6bb6-400e-b055-f1c042ad726a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assess-output-clean",
              "name": "output",
              "value": "={{ $json.output.replace(/```json\\n?|\\n?```/g, '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "9cfdd997-179e-417a-9fe7-0b28af78442c",
      "name": "Output formatieren"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Output formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0879e170-ce2d-4a18-a328-0bb3f982f3ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4bcf2af772b5a6c99ba7bb58339ab599329dc19ecd309fc7faadac10643ea4c"
  },
  "id": "5ChTSJRdKDEsWKys",
  "tags": []
}