n8n/hitl-review-callback
{
  "name": "HITL Review Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-decision-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a9e6f87d-f64f-492b-a9ea-67fd84a65f46",
      "name": "Review Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b74bf108-3a79-4938-bf67-2ad9d7d447ec",
              "name": "caseId",
              "value": "={{ $json.body.caseId }}",
              "type": "string"
            },
            {
              "id": "f2056840-d7aa-4cdb-ad0e-b9ddf6806f93",
              "name": "runId",
              "value": "={{ $json.body.runId }}",
              "type": "string"
            },
            {
              "id": "f99f26f0-f5ff-49d4-83ce-0ca9f45d563b",
              "name": "stepId",
              "value": "={{ $json.body.stepId }}",
              "type": "string"
            },
            {
              "id": "1fdfef5f-590d-42de-b337-f3f16d1f94dd",
              "name": "reviewStatus",
              "value": "={{ $json.body.reviewStatus }}",
              "type": "string"
            },
            {
              "id": "d6221bb3-3a2a-44de-a4dc-6db8f64d6a9b",
              "name": "reviewer",
              "value": "={{ $json.body.reviewer }}",
              "type": "string"
            },
            {
              "id": "aafef7ef-af4f-4ef3-a2f5-d17670740bb2",
              "name": "reviewComment",
              "value": "={{ $json.body.reviewComment }}",
              "type": "string"
            },
            {
              "id": "f93a03c2-a636-4f6a-8f9d-d4b51f1f57bc",
              "name": "decision",
              "value": "={{ $json.body.decision }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "cf958e85-6108-4e7e-98e2-f809603d8c51",
      "name": "Normalize Review Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f966c4e-4af5-4407-b7d6-eac64ce6f79a",
              "leftValue": "={{ $json.reviewStatus }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e5eb163-862f-4497-8a95-a40b898d936f",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"next\": \"continue_scenario\",\n  \"caseId\": \"{{ $json.caseId }}\"\n}",
        "options": {}
      },
      "id": "bf72f547-7ce8-4fc4-af1b-91231989b2dc",
      "name": "Respond Continue",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1020,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"next\": \"manual_followup\",\n  \"caseId\": \"{{ $json.caseId }}\",\n  \"reviewStatus\": \"{{ $json.reviewStatus }}\"\n}",
        "options": {}
      },
      "id": "119331bd-e087-418b-aa7f-c9979f931eb4",
      "name": "Respond Followup",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1020,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Review Decision Webhook": {
      "main": [
        [
          {
            "node": "Normalize Review Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Review Payload": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Respond Continue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f4f4f49-6177-40d4-a7e3-8ba7d67b7568",
  "id": "HitlReviewCallback2026",
  "tags": []
}
