n8n/scanning-agent
{
  "name": "Scanning Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ebcc8f40-150c-4cd3-91f6-1d37b3872368",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "text": "={{ 'Suchbegriffe: ' + $json.suchbegriffe + '\\nFokus: ' + $json.fokus }}",
        "options": {
          "systemMessage": "# Rolle\nDu bist der Scanning Agent eines Foresight-Systems für die Energieökonomik. Du implementierst das Environmental Scanning des Generic Foresight Process nach Voros. Deine einzige Aufgabe ist das SAMMELN von Informationen – du bewertest NICHT.\n\n# Kontext\nDu erhältst Suchbegriffe und einen strategischen Fokus vom Coordinator. Du hast Zugriff auf das Tavily Web-Search-Tool und musst dieses aktiv nutzen.\n\n# Aufgabe\n1. Führe für JEDEN übergebenen Suchbegriff eine Web-Suche durch\n2. Extrahiere aus den Ergebnissen potenzielle Signale\n3. Kategorisiere jeden Fund einer PESTEL-Dimension zu:\n   - P = Political (Politik, Regulierung, Geopolitik)\n   - E = Economic (Märkte, Preise, Kapitalkosten)\n   - S = Social (Akzeptanz, Konsumverhalten, Gerechtigkeit)\n   - T = Technological (Innovationen, Effizienzssprünge, Patente)\n   - En = Environmental (Klimawandel, Ressourcen, physische Risiken)\n   - L = Legal (Rechtsprechung, Normen, Genehmigungen)\n\n# Bevorzugte Quellen\n- Nachrichten: Reuters Energy, Handelsblatt Energie, Tagesspiegel Background\n- Daten: SMARD.de, EEX Transparency, ENTSO-E\n- Wissenschaft: arXiv.org, IEA Analysis\n- Regulatorik: EUR-Lex, BMWK Pressemitteilungen, BNetzA\n- Verbände: BDEW, DENA, Fraunhofer ISE\n\n# Constraints (Guardrails)\n- Erfinde KEINE Quellen oder Inhalte\n- Wenn eine Suche keine Ergebnisse liefert, dokumentiere das\n- Nimm KEINE Bewertung vor\n- Filtere KEINE Ergebnisse aus – auch schwache Treffer aufnehmen\n- Maximal 15 Kandidaten pro Scan-Durchlauf\n\n# Output-Format (strikt einzuhalten)\nGib ausschließlich valides JSON zurück:\n{\n  \"scan_datum\": \"YYYY-MM-DD\",\n  \"fokus\": \"...\",\n  \"kandidaten\": [\n    {\n      \"id\": \"c001\",\n      \"text\": \"Kurze Beschreibung des gefundenen Sachverhalts (2-3 Sätze)\",\n      \"quelle\": \"Name der Quelle + URL wenn verfügbar\",\n      \"pestel_kategorie\": \"T\",\n      \"datum_fund\": \"YYYY-MM-DD\",\n      \"suchbegriff\": \"Der Suchbegriff der zu diesem Fund geführt hat\"\n    }\n  ],\n  \"anzahl_kandidaten\": 0,\n  \"fehler\": []\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "350ec1b9-1a07-4d82-84f8-230db5624a2d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "3ca0a051-861d-4f53-93ae-816d43f380f7",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "RnSaU6IiAWynlfqO",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "76df1209-2def-463e-a2dc-344e48af70b2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bWNIKmPeCCQGZOdR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}-{{ $now.format('yyyy-MM-dd') }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "a062a76f-ebcb-43e1-a3e6-1e8b35b82b85",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "scan-output-clean",
              "name": "output",
              "value": "={{ $json.output.replace(/```json\\n?|\\n?```/g, '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 0],
      "id": "f970b4f6-551d-401d-90a6-ea256db9f863",
      "name": "Output formatieren"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Output formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7ba5ba1e-4c04-44ba-9b3c-b2c9f535addf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4bcf2af772b5a6c99ba7bb58339ab599329dc19ecd309fc7faadac10643ea4c"
  },
  "id": "OPs2h4Bn71SsI990",
  "tags": []
}